{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div >
    <h1>{{ AddStudent}}</h1>
        <div>
        <table class="table table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Note</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody >
            {% for student in etudiant %}
                <tr>
                    <td>{{ student.nom }}</td> 
                    <td>{{ student.prenom }}</td>
                    <td>{{ student.note }}</td>
                    <td>
                    <a href="{{ path('Student_edit', {'id': student.id}) }}" class="link_edit">Update</a>
                   <a href="{{path('Studiant_delete',{'id':student.id})}}" class="link_delete">delete</a>
                    </td>
                </tr>
            {% else %}
                <p>No student found.</p>
                
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
